//@import "global/_normalize";
@import "global/helpers/_variables";

@import "global/slick";
@import "global/slick-theme";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/utilities/display";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/font-awesome/scss/font-awesome";


@import "global/helpers/helpers_all";
@import "global/global";
@import "global/_typography";
@import "global/_form";
@import "global/_buttons";


@import "sprite/sprite";
@import "global/header";
@import "global/border";
@import "global/news-cards";
@import "global/tags-list";

@import "global/_footer";