.articles{
	&-box{
		display: flex;
		flex-direction: row;
		@include media-breakpoint-down(sm){
			flex-direction: column;
			overflow: hidden;
			position: relative;
			.box-label{
				width: 100%;
				align-items: center;
				right: -5px;
				left: -5px;
				background: $dark;
				text-transform: uppercase;
				color: $white;
				font-size: 1.313rem;
				line-height: 1.313rem;
				padding: .5rem 0;
				text-align: center;
				top: 0;
			}
		}
	}
	.bor{
		@include media-breakpoint-down(sm){
			border: 0 !important;
		}

	}
	.tab-content{
		overflow: hidden;
		display: flex;
		width: 50%;
		margin: 0 auto;
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}
	.tab-pane{
		width: 100%;
		a{
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		img{
			width: 100%;
		}
	}
	.nav-pills{
		width: 50%;
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}
	.nav-link{
		display: flex;
		align-items: center;
		border-radius: 0;
		position: relative;
		height: 55px;
		color: $dark;
		z-index: 5;
		@include media-breakpoint-down(sm){
			height: 45px;
			overflow: hidden;
			font-size: .8rem;
			background: $white;
			&:nth-child(2n+1){
				background: #f1f1f1;
			}
			&:active,
			&.active{
				background: $primary;
			}
		}
		span{
			position: relative;
			z-index: 10;
			font-weight: bold;
			line-height: 1;
		}
		&:before{
			content: "";
			position: absolute;
			left: -18px;
			top: 9px;
			display: block;
			width: 36px;
			height: 36px;
			background: transparent;
			transform: rotate(-45deg);
			z-index: 4;
		}
		&.active:before{
			background: $primary;
			@include media-breakpoint-down(sm){
				width: 10px;
				height: 10px;
				top: 40%;
				left: -5px;
				background: $white;
			}
		}
	}
}