.bests{
	font-size: 0.875rem;

	&-main{
		overflow: hidden;
		@include media-breakpoint-down(md){
			overflow: auto;
		}
	}
	&-title{
		font-weight: normal;
	}
	.nav-pills{
		border-right: 5px solid $primary;
		.nav-link{
			border-radius: none;
			color: $dark;
			padding:.51rem 1rem;
			position: relative;

			@include media-breakpoint-down(sm){
				padding: .5rem;
				text-align: center;

			}
			&:focus{
				outline: none;
			}
			&.active{
				background: $white;
				color: $primary;
				&:after{
					font-family: FontAwesome;
					content: '\f0d9';
					position: absolute;
					right: -1px;
					font-size: 1rem;
				}
				@include media-breakpoint-down(sm){
					color: inherit;
					&.show{
						color: $primary;
					}
					&:after{
						display: none;
					}
				}
			}

		}
		@include media-breakpoint-down(sm){
			border: 0;
		}
	}
	.tab-content{
		border: 0;
		@include media-breakpoint-down(sm){
			border-left: 5px solid $primary;
		}
	}
	.table{
		thead{
			background: rgba($primary, 0.1);
			color: $primary;
			font-weight: normal;
			th{
				border: 0;
				&:last-of-type{
					border: 0;
				}
			}
		}
		tbody tr:nth-child(2n){
			background: rgba($primary, 0.1);
			td{
				border: 0;
			}
			border: 0;
		}
		tr,td{
			border: 0;
			border-right: 2px solid rgba($primary, 0.1);
		}
	}
	.slick-list{
		position: relative;
		&:before,
		&:after{
			position: absolute;
			content: "";
			display: block;
			width: 30px;
			height: 35px;
			background: $white;
			z-index: 30;
			top: 0;
		}
		&:before{
			left: 0;
		}
		&:after{
			right: 0;
		}
	}
	.slick-prev,
	.slick-next{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: $bg-gray;
		z-index:50;
	}
	.slick-prev {
		left: 35px;
	}
	.slick-next {
		right: 35px;
	}
	.slick-prev:before,
	.slick-next:before {
		font-family: FontAwesome;
		width: 25px;
		height: 25px;
		color: #939391;
		font-size: 16px;
	}
	.slick-prev:before {
		content: "\f04a";
	}

	.slick-next:before {
		content: "\f04e";
	}
	&-sidebar{
		display: flex;
		padding: 1rem;
		height: 100%;
		flex-direction: column;
		position: relative;
	}
}
.bests-peoples{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 80%;
	min-height: 220px;
	position: relative;
	&-item{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		&:nth-child(1){
			z-index: 50;
		}
		&:nth-child(2){
			left: 50%;
			transform: translateX(-130%);
			top: 5%;
		}
		&:nth-child(3){
			transform: translateX(30%);
			top: 10%;
		}
	}
	&-place{
		width: 30px;
		height: 30px;
		background: $dark;
		color: $white;
		font-size: 1rem;
		line-height: 30px;
		border-radius: 50%;
		margin-bottom: .5rem;
	}
	&-name{
		font-size: .8rem;
		line-height: 1rem;
		margin-bottom: .5rem;
		span{
			display: block;
			text-transform: uppercase;
		}
	}
	&-photo{
		width: 85px;
		height: 85px;
		display: flex;
		border-radius: 50%;
		img{
			display: block;
			width: 100%;
		}
	}

}