.popup-btn-add{
	text-align: right;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	justify-self: flex-end;
	font-weight: normal;
	.icon{
		width: 12px;
		margin-left: 5px;
	}
	&:hover{
		text-decoration: underline;
	}
}