.header{
	display: flex;
	width: 100%;
	&-top{
		background: $white;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		margin: auto;
	}
	&-logo{
		display: block;
		width: 289px;
		height: 54px;
		margin: 0 auto;
		img{
			display: block;
			width: 100%;
			margin: 0 auto;
		}
	}
}