.header{
	display: flex;
	width: 100%;
	@include media-breakpoint-down(xs){
		margin-bottom: 1rem;
	}
	&-top{
		background: $white;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		margin: auto;
		@include media-breakpoint-down(md){
			position: absolute;
			max-width: 100px;
			display: none;
		}
	}
	&-logo{
		display: block;
		width: 289px;
		height: 54px;
		margin: 0 auto;
		img{
			display: block;
			width: 100%;
			margin: 0 auto;
		}

	}
	.collapse{
		display: none;
		&.show{
			display: flex;
		}
	}
	&-search{
		width: 100%;
		display: flex;
		position: relative;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding: 0 1rem;
		.icon-search{
			display: flex;
			width: 15px;
			height: 15px;
		}
		.btn{
			display: flex;
			background: transparent;
			color: $red;
		}
		form{
			margin: 0 1rem;
			position: absolute;
			right: 0;
			z-index: 5;
			width: 80%;
			flex-direction: row;
			display: flex;
			justify-content: space-between;
			.form-control{
				width: 100%;
				color: $dark;
			}
			.btn{
				position: absolute;
				right: 0;
			}
		}
		@include media-breakpoint-down(md){
			display: none;
		}
	}
	&-banner{
		@include media-breakpoint-down(md){
			display: none;
		}
	}
	.header-logo-mobile{
		display: none;
		@include media-breakpoint-down(md){
			display: flex;
			width: 20%;
			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		@include media-breakpoint-down(sm){
			width: 30%;
		}
		@include media-breakpoint-down(xs){
			width: 250px;
			height: 40px;
		}
	}
	.header-search-mobile{
		display: none;
		height: 50px;
		align-items: center;
		.icon{
			width: 15px;
			height: 20px;
		}
		@include media-breakpoint-down(md){
			display: flex;
			.btn{
				display: flex;
				height: 100%;
				align-items: center;
				.icon-search{  display: flex;  }
				.icon-cancel{  display: none;  }
				&[aria-expanded="true"] {
					box-shadow: none;
					background: $white;
					.icon-search{  display: none;  }
					.icon-cancel{  display: flex;  }
				}
			}
		}
	}
	#header-search-form-mob{
		display: none;
		flex-direction: row;
		flex-wrap: nowrap;
		@include box-shadow;
		&.collapse.show{
			display: flex;
		}
		@include media-breakpoint-down(md){
			justify-content: center;
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			top: 50px;
			background: $white;
			padding: 2rem;
			z-index: 100;
			.form-control{
				min-width: 70%	;
				border-radius: 0;
				border: 0;
				background: #f1f1f1;
			}
			.btn{
				border-radius: 0;
				background: $primary;
				svg{
					fill: $white;
				}

			}
		}
	}
}
.navbar{
	padding: 0;
	height: 64px;
	position: relative;
	@include media-breakpoint-down(md){
		height: 50px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		@include box-shadow;
	}
	.nav-item{
		display: flex;
		align-items: center;
		&+.nav-item{
			margin-left: 2px;
			@include media-breakpoint-down(md){
				margin-left: 0;
			}
		}
		&:hover{

			background: $dark;
			.nav-link{
				color: $white;
				border-bottom-color: $dark;
			}
			.subMenu{
				display: flex;
			}
		}
		@include media-breakpoint-down(md){
			width: 100%;
			flex-direction:column;
			padding-left: 1.5rem;
			&:focus,
			&:hover,
			&:active{
				background: $white;
				.nav-link{
					color: $primary;
					border-bottom-color: $dark;
				}
			}
			&:hover{
				.subMenu{
					display: none;
				}
			}
			&:nth-child(2n+1){
				background: #f1f1f1;
			}
		}
	}
	&-nav{
		.dropdown-menu{
			width: 100%;
			display: flex;
			top: 100%;
			left: 0;
			right: 0;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			background: #343434;
			border: none;
			border-radius: none;
		}
		@include media-breakpoint-down(md){
			width: 100%;
			@include box-shadow;
		}
	}
	.nav-link{
		position: relative;
		font-size:0.875rem;
		font-weight: bold;
		padding: 1.5rem 0;
		text-transform: uppercase;
		line-height: 1;
		text-align: center;
		align-self: center;
		justify-content: center;
		color: $dark;
		border-bottom: 3px solid $primary;
		display: flex;
		flex-direction: column;
		.icon{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 8px;
			height: 8px;
		}
		@include media-breakpoint-down(md){
			font-size: 1.2rem;
			width: 100%;
			border-bottom: 0;
			text-align: left;
			padding:.5rem;
			text-transform: capitalize;
			.icon{
				left: 95%;
				width: 15px;
				height: 15px;
				transform: rotate(-90deg);
			}
			&[aria-expanded="true"]{
				color: $primary;
				.icon{
					transform: rotate(0deg);
				}
			}
		}

	}
	#navMenu{
		position: relative;
		@include media-breakpoint-down(md){
			width: 100%;
			position: absolute;
			background: $white;
			top: 50px;
			z-index: 100;
		}
	}
	.subMenu{
		padding: 0 1rem;
		position: absolute;
		width: 100%;
		display: none;
		top: 100%;
		left: 0;
		right: 0;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		background: $dark;
		z-index: 100;
		.subMenu-item{
			display: flex;
			align-items: center;
			&+.subMenu-item{
				margin-left: 10px;
			}
			@include media-breakpoint-down(md){
				justify-content: flex-start;
				align-items: flex-start;
				&+.subMenu-item{
					margin-left: 0;
				}
			}
		}
		.subMenu-link{
			color: $gray;
			font-size: 0.675rem;
			font-weight: bold;
			padding: 1.5rem 0;
			text-transform: uppercase;
			line-height: 1;
			text-align: center;
			align-self: center;
			text-decoration: none;
			&:hover{
				text-decoration: none;
				color: $white;
			}
			@include media-breakpoint-down(md){
				text-align: left;
				font-size: 1rem;
				&:hover,
				&:active{
					color: $primary !important;
				}
			}
		}
		@include media-breakpoint-down(md){
			position: relative;
			flex-direction: column;
			background: inherit;
			justify-content: flex-start;
			&.collapse.show{
				display: block;
			}
			&.collapse{
				display: none;
			}
			.subMenu-link{
				width: 100%;
				font-weight: bold;
				padding: .5rem;
				text-transform: none;
				line-height: 1;
				&:hover{
					text-decoration: none;
					color: $white;
				}
			}
		}
	}
}