.horiz-scroll{
	width: 100%;
	//display: block;
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	overflow-y: hidden;
	overflow-x: scroll;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	&::-webkit-scrollbar{
		width: 30px;
	}
	&::-webkit-scrollbar-track{
		background: linear-gradient(transparent 7px, #e1e1e1 9px, transparent 12px)
	}
	&::-webkit-scrollbar-thumb{
		background: url('../img/global/hr-scroll.png') no-repeat center;
		border: 0 solid transparent;
		border-radius: 15px;
		width: 10px;
	}
}

.horiz-scroll .item{
	//display: inline-block;
	//float: left;
	display: flex;
	width: 32%;
	flex: 1 0 auto;
	margin: 0 1.05%;
	@include media-breakpoint-down(sm){
		width: 100%;
	}
}