.newscarousel{
	display: flex;
	width: 100%;
	position: relative;
	flex-direction: column;
	background: $white;
	padding: 1rem;
	.news-carousel{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		padding: 0 1rem;
	}
	.card{
		border: none;
		border-radius: 0;
		&:hover{
			cursor: pointer;
			text-decoration: underline;
		}
		&-title{
			margin-bottom: .5rem;
			font-weight: normal;
		}
		&-text{
			font-weight: lighter;
			font-size: 0.875rem;
		}
	}
	.card-img-overlay{
		top: 0;
		background: rgba(0,0,0,0.5);
	}
	.text-white{
		p,
		.card-title{
			color: $white;
		}
	}
	.slick-prev,
	.slick-next{
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background: $bg-gray;
		z-index: 50;
	}
	.slick-prev {
		left: -35px;
		@include media-breakpoint-down(sm){
			left: 0;
		}
	}
	.slick-next {
		right: -35px;
		@include media-breakpoint-down(sm){
			right: 0;
		}
	}
	.slick-prev:before,
	.slick-next:before {
		font-family: FontAwesome;
		width: 30px;
		height: 30px;
		color: #939391;
	}
	.slick-prev:before {
		content: "\f100";
	}

	.slick-next:before {
		content: "\f101";
	}
	.slick-dots{
		bottom: 15px;
		z-index: 50;
		li{
			button{
				&:before{
					font-size: 30px;
					color: $white;
				}
			}
			&.slick-active{
				button{
					&:before{
						font-size: 40px;
					}
				}
			}
		}
	}
}
.news-carousel .news-carousel-item{
	overflow: hidden;
	.card-img{
		transition: transform .2s;
	}
	&:hover,
	&:focus{
		.card-img{
			transform: scale(1.2);
		}
	}
}