.old-news{
	border-top: 3px solid $red ;
	&-wrap{
		display: flex;
		flex-direction:column;
		width: 100%;
	}
	.years-filter{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		flex-wrap: nowrap;
		font-size: .75rem;
		background: #fcfcfc;
		margin-bottom: 3px;
		@include media-breakpoint-down(sm){
			justify-content: center;
		}
		&-prev,
		&-next{
			display: flex;
			width: 180px;
			padding: 1rem .5rem;
			text-align: center;
			color: $dark;
			&:hover,
			&:focus{
				cursor: pointer;
				outline: none;
				text-decoration: none;
			}
			@include media-breakpoint-down(sm){
				width: 20%;
			}
		}
		&-prev{
			text-align: left;
		}
		&-prev:before{
			content: "<<";
			margin-right: .5rem;
		}
		&-next{
			text-align: right;
		}
		&-next:after{
			content: ">>";
			margin-left: .5rem;
		}
		&-list{
			background: $white;
			min-height: 50px;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: .5rem;
			@include media-breakpoint-down(sm){
				justify-content: center;
				width: 60%;
			}
		}
		&-item > a{
			color: $dark;
			margin: 0 5px;
			&.active,
			&:hover,
			&:focus{
				color: $red;
				cursor: pointer;
				text-decoration: none;
				outline: none;
			}
		}
	}
	.month-filter-list{
		display: flex;
		width: 100%;
		background: #f7f7f7;
		flex-direction: row;
		justify-content: space-between;
		min-height: 50px;
		align-items: center;
		padding: .5rem 1rem;
		position: relative;
		&:before,
		&:after{
			content: "";
			background: #f7f7f7;
			width: 10%;
			height: 100%;
			position: absolute;
			opacity: .5;
		}
		&:before{
			left: 0;
		}
		&:after{
			right: 0;
		}

	}
	.month-filter-item{
		font-size: .75rem;
		color: $dark;
		&.active,
		&:hover,
		&:focus{
			color: $red;
			cursor: pointer;
			text-decoration: none;
			outline: none;
		}

	}
}
