.pretty{
	margin-bottom: 1rem;
	.state{
		label{
			font-size: 16px;
			color: #534747;
			font-weight: normal;
		}
	}
}
.pretty .state label:before, .pretty .state label:after{
	top: calc((0% - (100% - 1em)) - 9%);

}
.pretty .state label:before{
	border: 0;
	box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.15);
}
.pretty .state label:after{
	background: #f4f3ee;
}
.pretty input:checked ~ .state.p-danger label:before{
	box-shadow: 0px 3px 9px 0px rgba($warning ,0.4);
}
