.table{
	&-news{
		border-left: 5px solid $primary;
		thead{
			background: rgba($primary, 0.1);
			color: $primary;
			font-weight: normal;
			th{
				border: 0;
				font-size: 0.75rem;
				&:last-of-type{
					border: 0;
				}
			}
		}
		tbody tr:nth-child(2n){
			background: rgba($primary, 0.1);
			td{
				border: 0;
			}
			border: 0;
		}
		tr,td{
			border: 0;
			border-right: 2px solid rgba($primary, 0.1);
			padding: .5rem;
		}
		td{
			font-size: .75rem;
			vertical-align: inherit;
		}
		h4{
			font-size: 1rem;
			margin-bottom: .5rem;
		}
		p{
			font-size: 0.75rem;
			margin-bottom: .5rem;
		}
	}
}