.tags-list {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-start;

	&-item + .tags-list-item{
		margin-left: 1rem;
	}
	&-item{
		display: flex;
	}
	&-link{
		display: flex;
		font-size: 0.8125rem;
		font-weight: lighter;
		color: $dark;
		background: $bg-gray;
		padding: .5rem 1rem;
		border-radius: 5px;
		position: relative;
		@include media-breakpoint-down(sm){
			padding: .5rem;
		}
		&:hover{
			font-weight: normal;
			color: $dark;
			text-decoration: none;
		}
		&:after {
			content: '';
			position: absolute;
			height: 48%;
			width: 15px;
			right: -6px;
			bottom: 1px;
			background: $bg-gray;
			-webkit-transform: skew(-35deg, 0);
			-moz-transform: skew(-35deg, 0);
			-o-transform: skew(-35deg, 0);
			-ms-transform: skew(-35deg, 0);
			transform: skew(-35deg, 0);
		}
		&:before {
			content: '';
			position: absolute;
			height: 50%;
			width: 15px;
			top: 0;
			right: -6px;
			background: $bg-gray;
			-webkit-transform: skew(35deg, 0);
			-moz-transform: skew(35deg, 0);
			-o-transform: skew(35deg, 0);
			-ms-transform: skew(35deg, 0);
			transform: skew(35deg, 0);
		}

	}
}