/* ==========================================================================
   TYPOGRAPHY
   ===========================================================================*/
/* TEXT */
b{
	font-weight: 700;
}
.italic{
	font-style: italic;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.text_rigth{
	text-align: right !important;
}
.text_bold{
	font-weight: 700;
}
.text_uppercase{
	text-transform: uppercase;
}
.no-upercouse{
	text-transform: none;
}

/* LINKS */
a {
}
a[href^="mailto:"],
a[href^="tel:"]{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: inherit;
		text-decoration: none;
	}
}
/* TITLES */
h1{
}
h2{
}

h3{
	font-size: 1.313rem;
	font-weight: bold;
}

h4{
}
h5{
	font-size: 1rem;
	font-weight: bold;
}
h6{
	font-size: 0.8rem;
	font-weight: bold;
}