.bor{
	border: 1px solid transparent;
	&-top{
		border: 0;
		border-top: 1px solid transparent ;  }
	&-right{
		border: 0;
		border-right: 1px solid transparent ;  }
	&-bottom{
		border: 0;
		border-bottom: 1px solid transparent ;  }
	&-left{
		border: 0;
		border-left: 1px solid transparent ;  }
	&-2{  border-width: 2px;  }
	&-3{  border-width: 3px;  }
	&-4{  border-width: 4px;  }
	&-5{  border-width: 5px;  }
	&.primary{  border-color: $primary;  }
	&.success{  border-color: $success;  }
	&.info   {  border-color: $info;     }
	&.warning{  border-color: $warning;  }
	&.danger {  border-color: $danger;   }
}