.statistics{
	background: $white;
	padding: 1rem;
	p{
		font-size:0.875rem;
		a{
			color: $red;
			text-decoration: underline;
		}
	}
	.card{
		border: none;
		&-body{
			padding: .5rem;
		}
	}
	&-img{
		width: 100%;
		height: 100%;
		min-height: 115px;
		display: block;
		margin: 0 auto .5rem;
		&.rounded{
			width: 115px;
			height: 115px;
		}
		@include media-breakpoint-down(sm){
			min-height: 50px;
			max-width: 80%;
			&.rounded{
				width: 65px;
				height: 65px;
			}
		}
	}
}