table.table.table-hover.tablesaw-stack(summary="This table shows how to create responsive tables using Tablesaw's functionality", data-tablesaw-mode='stack')
    thead
        tr
            th vainqueur
            th vaincu
            th score
            th duree
    tbody
        tr
            td
                a(href="#") Rafael Nadal
            td Dominic Thiem
            td 6-3, 5-7, 7-5
            td 2h 21min
        tr
            td
                a(href="#") Grigor Dimitrov
            td Dominic Thiem
            td 6-3, 5-7, 7-5
            td 2h 21min
