<!DOCTYPE html>
html(lang="en")
    include global/head
    +head(
    'TEXtolia'
    )
    include mixin/all-mixin
    body
        .wrapper
            // Sidebar
            nav#sidebar.sidebar
                .sidebar-header
                    a.sidebar-logo(href="index.html")
                        img.logo(src="assets/img/global/logo.png")
                        img.logo-sm(src="assets/img/global/logo-sm.png")
                ul.sidebar-menu.mb-5
                    li.active
                        a(href="#")
                            i.fas.fa-copy
                            span My Texts
                    li
                        a(href="#")
                            i.fas.fa-glasses
                            span My Profile
                    li
                        a(href="#")
                            i.fas.fa-sliders-h
                            span My Statistics
                    li
                        a(href="#")
                            i.fas.fa-keyboard
                            span My Account
                    li
                        a(href="#")
                            i.fas.fa-lightbulb
                            span Log Out
                .sidebar-bottom
                    .view-switch
                        p.mb-0 view-mode:
                        .check-switch
                            input#check1.switch(type='checkbox')
                            label.label-switch(for='check1')
                        .check-switch-text
                            p day
                            p night


            // Page Content
            #content.content
                .content-header
                    h1.content-title
                        span.text-logo Textolia
                        span Your indispensable tool for optimized content
                    button#sidebarCollapse.btn.btn-default(type="button")
                        i.fas.fa-bars
                .content-body
                    form#input-progress(role='form').container-fluid.progress-form
                        .row
                            .col-md-2.p-0
                                #progress-inputs.progress.progress-vertical
                                    .progress-bar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                    style='height:0%;')
                                        span.sr-only 0%
                                        .step-number.step-number-0
                                            span
                                        .step-number.step-number-1
                                            span 1
                                        .step-number.step-number-2
                                            span 2
                                        .step-number.step-number-3
                                            span 3
                                //button#validate.validate(type="submit") validate
                                button#validate.validate(type="submit")
                                    // SVG
                                    svg(width='100%', height='30px', xmlns='http://www.w3.org/2000/svg')
                                        defs
                                            lineargradient#gradient(y1='0', y2='1')
                                                stop(stop-color='#d45357', offset='0')
                                                stop(stop-color='#e37825', offset='1')
                                        g
                                            text#validate-svg(y='30',x='20%', font-family='Roboto', font-size='28', font-weight='900',
                                            fill='url' +
                                            '(#gradient)') Validate


                            .col-md-10
                                #step1.row.step-content.pt-2
                                    .form-group.col-6
                                        p.pl-3 Select the desired content type
                                        select#desiredContent.selectpicker.w-100(required, title="Choose one of the following...")
                                            //option(value="")
                                            option(value='Infromative') Infromative
                                            option(value='Educational') Educational
                                            option(value='Sports') Sports
                                            option(value='Entertainment') Entertainment
                                            option(value='Other') Other ...
                                    .form-group.col-6
                                        p.mb-4 previous picks
                                        .pretty.p-default.p-round
                                            input(type='radio', name='radio1',required)
                                            .state.p-danger
                                                label Night Life
                                        .pretty.p-default.p-round
                                            input(type='radio', name='radio1' required)
                                            .state.p-danger
                                                label Sports
                                        .pretty.p-default.p-round
                                            input(type='radio', name='radio1' required)
                                            .state.p-danger
                                                label Entertainment
                                #step2.row.step-content
                                    .form-group.col-6
                                        p.pl-3 What do you want to write about?
                                        input.form-control.step-input(type="text",placeholder="...", required="required")

                                #step3.row.step-content
                                    .form-group.col-6
                                            p.pl-3 Select the category of your website
                                            select#categorySite.selectpicker.w-100(required, title="Choose one of the following...")
                                                //option(value="")
                                                option(value="Technology") Technology
                                                option(value="Educational") Educational
                                                option(value="Sports") Sports
                                    .form-group.col-6
                                        p.mb-4 previous picks
                                        .pretty.p-default.p-round
                                            input(type='radio', name='radio2',required)
                                            .state.p-danger
                                                label Medical Services
                                        .pretty.p-default.p-round
                                            input(type='radio', name='radio2',required)
                                            .state.p-danger
                                                label Gaming



    // jQuery CDN - Slim version (=without AJAX)
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    // Popper.JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    // Bootstrap JS
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js', crossorigin='anonymous')

    script(src="assets/js/bundle.js")
    script.
