<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'SudInfo'
	)
	include mixin/all-mixin
	body
		include global/header
		//- wrapper
		#wrapper.wrapper
			include global/breadcrumb
			include global/content

		include global/footer
		include global/popup-form
		script(src="assets/js/bundle.js")