<!DOCTYPE html>
html(lang="en")
    include global/head-new
    +head(
    'SudInfo'
    )
    include mixin/all-mixin
    body
        include global/header-new
        //- wrapper
        #wrapper.wrapper
            include global/breadcrumb-new
            include global/content-new

        include global/footer
        include global/popup-form
        include global/popup-mobile-filter



        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
        script(src="assets/js/bundle.js")
        script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js")
        script(type="text/javascript", src="http://jscrollpane.kelvinluck.com/script/jquery.jscrollpane.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.core.min.js")
        //jPList Sort Bundle
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.sort-bundle.min.js")
        // jPList Pagination Bundle
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.pagination-bundle.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jplist/5.2.0/js/jplist.preloader-control.min.js")
        script.
            $(document).ready(function () {
                jplist.init();
            });
