<!DOCTYPE html>
html(lang="en")
	include global/head
	+head(
		'SudInfo'
	)
	include mixin/all-mixin
	body
		include global/header
		//- wrapper
		#wrapper.wrapper
			include global/breadcrumb
			include global/content

		include global/footer
		include global/popup-form
		include global/popup-mobile-filter
		script(src="assets/js/bundle.js")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css")
		link(rel="stylesheet" type="text/css" href="assets/css/app.min.css")