<!DOCTYPE html>
html(lang="en")
    include global/head
    +head(
    'TEXtolia'
    )
    include mixin/all-mixin
    body
        .wrapper
            // Sidebar
            nav#sidebar.sidebar.active
                .sidebar-header
                    a.sidebar-logo(href="index.html")
                        img.logo(src="assets/img/global/logo.png")
                        img.logo-sm(src="assets/img/global/logo-sm.png")
                ul.sidebar-menu.mb-5
                    li.active
                        a(href="#")
                            i.fas.fa-copy
                            span My Texts
                    li
                        a(href="#")
                            i.fas.fa-glasses
                            span My Profile
                    li
                        a(href="#")
                            i.fas.fa-sliders-h
                            span My Statistics
                    li
                        a(href="#")
                            i.fas.fa-keyboard
                            span My Account
                    li
                        a(href="#")
                            i.fas.fa-lightbulb
                            span Log Out
                .sidebar-bottom
                    .view-switch
                        p.mb-0 view-mode:
                        .check-switch
                            input#check1.switch(type='checkbox')
                            label.label-switch(for='check1')
                        .check-switch-text
                            p day
                            p night


            // Page Content
            #content.content
                .content-header
                    h1.content-title
                        span.text-logo Textolia
                        span Your indispensable tool for optimized content
                    //button#sidebarCollapse.btn.btn-default(type="button")
                        i.fas.fa-bars
                .content-body
                    //include global/progress-form
                    include global/progress-form-2

    // jQuery CDN - Slim version
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    // Popper.JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
    // Bootstrap JS
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js', crossorigin='anonymous')
    script(src="assets/js/bundle.js")
    script.
        $(document).ready(function () {
            //validation of step 1
            $("#step-1-select").click(function () {
                $("#step-1-picks  input[type='radio']").each(function () {
                    if ($(this).val() !== "1") {
                        console.log('clear input radio');
                        $(this).prop("checked", false);
                    }
                });
            });
            $("#step-1-picks input").focus(function () {
                console.log('clear select');
                $("#categorySite").selectpicker('val', 'refresh');
            });
            $("#step-3-select").click(function () {
                $("#step-3-picks  input[type='radio']").each(function () {
                    if ($(this).val() !== "1") {
                        console.log('clear input radio');
                        $(this).prop("checked", false);
                    }
                });
            });
            $("#step-3-picks input").focus(function () {
                console.log('clear select');
                $("#categorySite").selectpicker('val', 'refresh');
            });
            var stepsProgress = function () {
                var step1Val1 = [],
                    step1Checks2 = [];
                    step1Val1 = $('#step-1 select option:selected').val();
                    step1Checks2 = $("#step-1-picks  input[type='radio']:checked");
                if(step1Val1 != "" && step1Val1 > 0 || step1Checks2.length > 0) {
                    $('#step-1').removeClass('step-active step-complete');
                    $('#step-1').addClass('step-complete');
                    $('#step-2').addClass('step-active');
                }
            //validation of step 2
                var step2Val = $("#step-2 input").val();
                if (step2Val != 0) {
                    //$('#step-2').removeClass('step-null');
                    $('#step-2').addClass('step-complete');
                    $('#step-3').addClass('step-active');
                } else {
                    $('#step-2').removeClass('step-complete');
                    $('#step-3').removeClass('step-active');
                }
            //validation of step 3
                var step3Val1 = [],
                    step3Checks2 = [],
                    step3Val1 = $('#step-3 .selectpicker').val(),
                    step3Checks2 = $("#step-3-picks  input[type='radio']:checked");
                if (step3Val1 != 0 || step3Checks2.length > 0) {
                    $('#step-2').addClass('step-active');
                    $('#step-3').addClass('step-complete');
                    $('#step-4').addClass('step-active');
                } else {
                    $('#step-3').removeClass('step-complete');
                }
            }
            var validateForm = $('#steps-form').on('click', function (e) {
                stepsProgress();
            });
            //validate button
            $('#validate').on('submit', function (e) {
                //e.preventDefault();
                //if(!$('#step-2').hasClass('step-complete')){
                //    $('#step-1').addClass('step-null');
                //}else
                //if(!$('#step-3').hasClass('step-complete')){
                //    $('#step-1').addClass('step-null');
                //}else{
                //    return false;
                //}
                validateForm();
            })

        });
