doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Textolia
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900', rel='stylesheet')
    //link(rel='stylesheet', href='css/jquery.formstyler.css', type='text/css')
    //link(rel='stylesheet', href='css/jquery.formstyler.theme.css', type='text/css')
    link(rel='stylesheet', href='assets/css/app.min.css', type='text/css')
  include mixin/all-mixin
  body
    .wrapper
      // Sidebar
      #sidebar.sidebar
        .sidebar-header
          a.sidebar-logo(href="index.html")
            img.logo(src="assets/img/global/logo.png")
            img.logo-sm(src="assets/img/global/logo-sm.png")
        #accordion.panel-group.left-nav
          .panel.panel-default
            a.panel-heading(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
              +icon('list')
              +icon('arrow-l')
              span.panel-title Keyword suggestions
              +icon('i')
            #collapse1.panel-collapse.collapse
              .panel-body
                .drop-item-2p.drop-item-2p-key
                  a(href="#").key-sugg
                    | Cat
                    .key-sugg-number.key-sugg-number__red 0/3
                  a(href="#").key-sugg
                    | Long Hair
                    .key-sugg-number.key-sugg-number__orange 1/2
                  a(href="#").key-sugg
                    | Breed
                    .key-sugg-number.key-sugg-number__green 2/2
                .drop-item-2p.drop-item-2p-key
                  a(href="#").key-sugg.key-sugg__red
                    | Siberian
                    .key-sugg-number.key-sugg-number__red 0/4
                  a(href="#").key-sugg.key-sugg__red
                    | Russia
                    .key-sugg-number.key-sugg-number__red 0/4
                  a(href="#").key-sugg.key-sugg__red
                    | Neva mascarade
                    .key-sugg-number.key-sugg-number__yellow 3/1
                .drop-item-2p.drop-item-2p-key.drop-item-2p-keybn
                  a(href="#").key-sugg.key-sugg__yellow
                    | Feline
                    .key-sugg-number.key-sugg-number__red 0/3
                  a(href="#").key-sugg.key-sugg__yellow
                    | Kittens
                    .key-sugg-number.key-sugg-number__orange 1/2
                .drop-item-2p.drop-item-2p-key.drop-item-2p-keybn
                  a.filter-link(href='#') See more
          .panel.panel-default
            a.panel-heading(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
              +icon('Tt')
              +icon('arrow-l')
              span.panel-title Sentence suggestions
              +icon('i')
            #collapse2.panel-collapse.collapse
              .panel-body
                a.dropdown-item.drop-item-2p(href='#') This cat typically weighs 8 to 17
                a.dropdown-item.drop-item-2p(href='#') The Siberian’s heart is as warm as his homeland is cold.
                a.dropdown-item.drop-item-2p(href='#') Siberian cat vs russian blue
                a.dropdown-item.drop-item-2p(href='#') Siberian cat vs bengal cat

      main.content
        .global_main--block
          header
            .container.px-0
              .row.justify-content-end
                .col-11.offset-1
                  .orange-border
                  ul.nav.menu-navbar
                    li.nav-item
                      a.nav-link(href='#')
                        +icon('save')
                    li.nav-item.active
                      a.nav-link(href='page_4.html') Write
                    li.nav-item
                      a.nav-link(href='page_3.html') Edit
        .container
          .row
            .col-sm-3
            .col-sm-9.col-right
              .filter-wrap
                .filter
                  .filter-name
                    | your topic:
                  .filter-value
                    | Siberian cat
                .filter
                  .filter-name
                    | website category:
                  .filter-value
                    | Animal
                .filter
                  .filter-name
                    | content type:
                  .filter-value
                    | Informative
                .filter.filter-link
                  a.filter-link(href='#') Modify
              .block-main-wrap.advice-block
                +icon('lamp')
                span We advice you to write a text of
                  span.advice_span--bold  2000 words.
                  | The complexity should be low and the global repetition should
                  | be minimum 5 times the most important keywords.
                  | We have discovered a rich snippet opportunity with the question
                  span.advice_span--bold  What is a siberian cat?
                  |  Answer the question with a list with at least
                  span.advice_span--bold  3 bullet points.
              .block-main-wrap.text-input.text-input-yes.text-input--inform.input_inform--icon.clearfix
                .seo-title Title:
                form(action='')
                  textarea.text-field-title(name='title')
                ul.seo-key
                  li Cat
                  li Siberian
                  li Information
                .seo-characters
                  span.char-bold 200
                  | /200 characters left
                .input_inform--negative
                  | We advice you to write a title of 200
                  | characters including at least
                  span.advice_span--bold
                    | 3 of the
                    | most important keywords.
              .block-main-wrap.text-input.text-input-yes.input_inform--icon
                .seo-title Meta:
                form(action='')
                  textarea.text-field-meta(name='title', placeholder='Type your meta here with max 200 characters')
              .block-main-wrap.text-input.text-input-no.input_inform--icon
                .seo-title H1
                form(action='')
                  textarea.text-field-h1(name='title', placeholder='Type your H1 here with max 200 characters')
              .block-main-wrap.block-main-article
                .article-top
                  .seo-title Article:
                  .article-style-pannel
                      button.article-style-pannel__btn
                        +icon('T')
                      button.article-style-pannel__btn
                        +icon('t-it')
                      button.article-style-pannel__btn
                        +icon('T-udrl')
                      button.article-style-pannel__btn
                        +icon('clip')
                      button.article-style-pannel__btn
                        +icon('m-list')
                      button.article-style-pannel__btn
                        +icon('shelude')
                  form.sel-form
                    select
                      option template style: Academic
                      option template style: Acad
                      option template style: Academ
                article
                  h2 Intro
                  p  
                  p  
                  h2 H2
                  p You can make a list here
                  ul
                    li Item 1
                    li Item 3
                    li Item 3
                  p  
                  p  
                  h2 H2
                  p Use our sentence suggestions tool
                  p  
                  h2 Conclusion
                .article-bottom.article_bottom--edit
                  ul.article-info.article_info--edit
                    li
                      | Words
                      span.advice_span--bold 1500
                    li
                      | Characters
                      span.advice_span--bold 3450
                    li
                      | Sentences
                      span.advice_span--bold 100
    footer
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='assets/js/vendor/libs.min.js')
    script(src='assets/js/vendor/user.js')
