doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Textolia
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,700,900', rel='stylesheet')
    link(src="https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.0/pretty-checkbox.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='assets/css/app.min.css', type='text/css')
    // Vendor JS
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js', integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ', crossorigin='anonymous')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js', integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY', crossorigin='anonymous')
  include mixin/all-mixin
  body
    .wrapper.wrapper-text-blocks
      .container.px-0
        .row.justify-content-end.px-0
          header.global_main--block
            .orange-border
            ul.nav.menu-navbar
              li.nav-item
                a.nav-link(href='#')
                  +icon('save')
              li.nav-item
                a.nav-link(href='page_4.html') Write
              li.nav-item.active
                a.nav-link(href='page_3.html') Edit
        .row
          .col-1.sidebar-col.px-0
            #sidebar.sidebar
              .sidebar-header
                a.sidebar-logo(href="index.html")
                  img.logo(src="assets/img/global/logo.png")
                  img.logo-sm(src="assets/img/global/logo-sm.png")
              ul.sidebar-menu.mb-5.pr-1.w-30.ml-auto
                li
                  a(href="#")
                    i.fa.fa-copy
                    span.d-none My Texts
                li
                  a(href="#")
                    i.fa.fa-glasses
                    span.d-none My Profile
                li
                  a(href="#")
                    i.fa.fa-sliders-h
                    span.d-none My Statistics
                li
                  a(href="#")
                    i.fa.fa-keyboard
                    span.d-none My Account
                li
                  a(href="#")
                    i.fa.fa-lightbulb
                    span.d-none Log Out

          .col-3.col-left.content
            .aside-block
              .top_aside--block
                span.aside_text--span Readability:
                a(href="#").aside-notifications.active 2 sentences are very difficult to read
                a(href="#").aside-notifications 2 phrases has a simpler alternative
              .seo_aside--block
                span.aside_text--span SEO
                .dial-block
                .dial-block
                  .dial.dial_block--1(data-linewidth='3', data-width='110') 85
                  .dial.dial.dial_block--2(data-linewidth='3', data-width='110') 65
                .seo_aside--information
                  span.keyword-span Keyword density
                  p.keyword-paragraph
                    | Select additional words that you haven’t
                    | add yet to your text:
                  // danger
                  p
                    .pretty.p-default
                      input(type='checkbox')
                      .state.p-danger
                        label Feline
                  // danger
                  p
                    .pretty.p-default
                      input(type='checkbox')
                      .state.p-danger
                        label Kittens
                  p.keyword-paragraph  Remove some words that are overused:
                  // danger
                  .pretty.p-default
                    input(type='checkbox')
                    .state.p-danger
                      label Neva mascarade
                .dial-block
                  .dial.dial_block--3(data-linewidth='3', data-width='110') 73
                  .dial.dial.dial_block--4(data-linewidth='3', data-width='110') 20
                .seo_aside--information
                  span.keyword-span Similarity
                  p.keyword-paragraph.keyword-paragraph--second
                    | This parameter determines the similarity
                    | index of your text. If it is 100%, then your
                    | text is written from scratch.
                    br
                    br
                    span.advice_span--bold 80%
                    |  of your article is similar to the texts
                  ul.advise-list
                    li.advise-list--item - use more keywords
                    li.advise-list--item  - use more sentences suggestions
              .bottom_aside--block
                span.aside_text--span Structure
                .negative--block.aside_negative--block Use at least 2 words in each Hx
                .negative--block.aside_negative--block
                  | Add 1 H2-H6 tag(s) to your page.
          .col-8.col-right
            .filter-wrap
              .filter
                .filter-name
                  | your topic:
                .filter-value
                  | Siberian cat
              .filter
                .filter-name
                  | website category:
                .filter-value
                  | Animal
              .filter
                .filter-name
                  | content type:
                .filter-value
                  | Informative
              .filter.filter-link
                a.filter-link(href='#') Modify
            .block-main-wrap.advice-block
              +icon('lamp')
              | Your text is adapted to the keyword
              span.advice_span--bold “Siberian”.
              |  Pay attention to the similarity of your text with other texts.
            #textBlocks.textBlocks
              .card.mb-3
                #headingOne.card-header
                  .form-group(data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                    h5.mb-0
                      label(for='Title') Title:
                    textarea#Title.form-control.text-field-title(rows='1',name='title') Siberian Cat Breed Information, Pictures,
                      | Characteristics & Facts
                button.card-popover-check(data-toggle="popover" data-container="body" data-placement="right" type="button" data-html="true"
                id="popoverTitle")
                  +icon('check')
                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#textBlocks')
                  .card-body
                    .text-input--inform
                      ul.seo-key
                        li
                          a(href="#") Cat
                        li
                          a(href="#") Siberian
                        li
                          a(href="#") Information
                      .seo-characters
                        span.char-bold 200
                        | /200 characters left
              .card.mb-3
                #headingTwo.card-header
                  .form-group(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                    h5.mb-0
                      label(for='Meta') Meta:
                    textarea#Meta.form-control.text-field-title(rows='3',name='Meta') From Russia with love: that’s the Siberian, a glamorous native cat
                      | from the taiga of Siberia, a forested area with a subarctic climate that no doubt contributed to this cat’s long, thick, protective
                      | coat. See all Siberian characteristics below!
                button.card-popover-check(data-toggle="popover" data-container="body" data-placement="right" type="button" data-html="true"
                id="popoverTitle")
                  +icon('check')
                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#textBlocks')
                  .card-body
                    .text-input--inform
                      ul.seo-key
                        li
                          a(href="#") Cat
                        li
                          a(href="#") Siberian
                        li
                          a(href="#") Information
                      .seo-characters
                        span.char-bold 200
                        | /200 characters left
              .card.mb-3
                #headingThree.card-header
                  .form-group(data-toggle='collapse', data-target='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
                    h5.mb-0
                      label(for='h1') h1:
                    textarea#H1.form-control.text-field-title(rows='1',name='H1') Siberian Cat Breed Information
                button.card-popover-check(data-toggle="popover" data-container="body" data-placement="right" type="button" data-html="true"
                id="popoverH1-no")
                  +icon('close')
                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#textBlocks')
                  .card-body
                    .text-input--inform
                      ul.seo-key
                        li
                          a(href="#") Cat
                        li
                          a(href="#") Siberian
                        li
                          a(href="#") Information
                      .seo-characters
                        span.char-bold 200
                        | /200 characters left


            .block-main-wrap.block-main-article
              .article-top
                .seo-title Article:
                .article-style-pannel
                  button.article-style-pannel__btn
                    +icon('T')
                  button.article-style-pannel__btn
                    +icon('t-it')
                  button.article-style-pannel__btn
                    +icon('T-udrl')
                  button.article-style-pannel__btn
                    +icon('clip')
                  button.article-style-pannel__btn
                    +icon('m-list')
                  button.article-style-pannel__btn
                    +icon('shelude')
                select#templateStyle.selectpicker()
                  option(value='1') template style: Academic
                  option(value='2') template style: Acad
                  option(value='3') template style: Academ
              form.article-content.article_content--edit(action='')
                p.text-field-article
                  | The Siberian is a landrace variety of domestic cat, present in Russia for centuries, and more recently developed as a formal breed,
                  span.field_text--negative with standards promulgated since the late 1980s.
                  span.advice_span--bold The forest cat
                  |                                     They vary from medium to medium-large in size. A longer name of the formal breed is
                  |                                     Siberian Forest Cat, but it is usually referred to as the Siberian or the Siberian ! cat. Another
                  |                                     name for the formal breed is the Moscow Semi-Longhair. The cat is an ancient breed that is
                  |                                     now believed to be ancestral to all modern long-haired cats.
                  |                                     The cat has similarities with
                  span.field_text--negative
                    | the Norwegian forest cat, to which it is likly closely related. It is
                    | a natural breed of Siberia and the national cat of Russia.
                  span.advice_span--bold A forest cat
                  |                                     While it began as a landrace, it is selectively bred and pedigreed today in at least seven major
                  |                                     cat fancier and breeder organisations. The colorpoint variant of the breed is called the Neva
                  |                                     Masquerade by some registries, including Fédération Internationale Féline (FIFé).
              .article-bottom.article_bottom--edit
                ul.article-info.article_info--edit
                  li
                    | Words
                    span
                      span.article_text--normal 1500
                      | /1600
                  li
                    | Characters
                    span
                      span.article_text--negative 3450
                      | /6000
                  li
                    | Sentences
                    span
                      span.article_text--good 100
                      | /100
    footer
    #popover-content-popoverTitle.d-none
      | We advice you to write a title of 200 characters including at least
      | b  3 of the most important keywords
    #popover-content-popoverMeta.d-none
      | We advice you to write a title of 200 characters including at least
      | b  3 of the most important keywords
    #popover-content-popoverH1.d-none
      | We advice you to write a title of 200 characters including at least
      | b  3 of the most important keywords
    #popover-content-popoverH1-no.d-none
      .negative--block.text_negative--block Meta too short (200 characters)
      .negative--block.text_negative--block Not enough keywords
    //script(src='assets/js/vendor/libs.min.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='assets/js/vendor/user.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js', crossorigin='anonymous')
    script.
        $(document).ready(function () {
            $(".selectpicker").selectpicker();
            $("[data-toggle=popover]").each(function (i, obj) {
                $(this).popover({
                    trigger: "hover focus",
                    html: true,
                    content: function () {
                        var id = $(this).attr('id')
                        return $('#popover-content-' + id).html();
                    }
                });
            });
        });