h5 Rappelez-vous les meilleurs moments en tennis il y a 1 an
ul#newscarousel.news-carousel
    li.news-carousel-item
        a(href="#").card.text-white
            img.card-img(src='assets/img/news/news-carousel-01.jpg', alt='Card image')
            .card-img-overlay
                h5.card-title Roland Garros 2016
                p.card-text by Alec Ross
    li.news-carousel-item
        a(href="#").card.text-white
            img.card-img(src='assets/img/news/news-carousel-02.jpg', alt='Card image')
            .card-img-overlay
                h5.card-title Roland Garros 2016 Award Ceremony
                p.card-text by Marie Leclerc
    li.news-carousel-item
        a(href="#").card.text-white
            img.card-img(src='assets/img/news/news-carousel-03.jpg', alt='Card image')
            .card-img-overlay
                h5.card-title Best tennis matches of 2016
                p.card-text by Jean Boufon
    li.news-carousel-item
        a(href="#").card.text-white
            img.card-img(src='assets/img/news/news-carousel-01.jpg', alt='Card image')
            .card-img-overlay
                h5.card-title Roland Garros 2016
                p.card-text by Alec Ross