#horiz-scroll.horiz-scroll.scroll-pane.horizontal-only
    .item
        include ../widget/widget-twitter
    .item
        include ../widget/widget-twitter
    .item
        include ../widget/widget-twitter
    .item
        include ../widget/widget-twitter
    .item
        include ../widget/widget-twitter
    .item
        include ../widget/widget-twitter
    .item
        include ../widget/widget-twitter
    .item
        include ../widget/widget-twitter