#video-carousel.carousel
    h3.carousel-title Video
    // /.Controls
    ul.carousel-list
        li.carousel-item
            .carousel-video
                .carousel-video-prev
                    img(src='assets/img/videos/video-01.jpg')
                    a(href="#").btn-play
                        +icon('play')
            h5.carousel-title
                a(href="#") Découvrez les plus beaux points du Masters de Londres 
        li.carousel-item
            .carousel-video
                .carousel-video-prev
                    img(src='assets/img/videos/video-02.jpg')
                    a(href="#").btn-play
                        +icon('play')
            h5.carousel-title
                a(href="#") Découvrez les plus beaux points du Masters de Londres 
        li.carousel-item
            .carousel-video
                .carousel-video-prev
                    img(src='assets/img/videos/video-03.jpg')
                    a(href="#").btn-play
                        +icon('play')
            h5.carousel-title
                a(href="#") Découvrez les plus beaux points du Masters de Londres 
