#video-carousel.vid-carousel
    h3.vid-carousel-title Video
    // /.Controls
    ul.vid-carousel-list
        li.vid-carousel-item
            .vid-carousel-video
                .vid-carousel-video-prev
                    img(src='assets/img/videos/video-01.jpg')
                    a(href="https://www.youtube.com/watch?v=HY4oichFEHQ").btn-play.popup-youtube
                        +icon('play')
            h5.vid-carousel-title
                a(href="#") Découvrez les plus beaux points du Masters de Londres 
        li.vid-carousel-item
            .vid-carousel-video
                .vid-carousel-video-prev
                    img(src='assets/img/videos/video-02.jpg')
                    a(href="https://www.youtube.com/watch?v=HY4oichFEHQ").btn-play.popup-youtube
                        +icon('play')
            h5.vid-carousel-title
                a(href="#") Découvrez les plus beaux points du Masters de Londres 
        li.vid-carousel-item
            .vid-carousel-video
                .vid-carousel-video-prev
                    img(src='assets/img/videos/video-03.jpg')
                    a(href="https://www.youtube.com/watch?v=HY4oichFEHQ").btn-play.popup-youtube
                        +icon('play')
            h5.vid-carousel-title
                a(href="#") Découvrez les plus beaux points du Masters de Londres 
