.row
    .col-sm-12.col-md-12.col-lg-8.mb-3
        .bests-main.bg-white.p-3
            h5.bests-title Meilleurs joueurs du tournoi des Masters de Londres
            .row
                .col-md-4.col-lg-3.p-0
                    #bests-tabs.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                        a#best-tab-01.nav-link(data-toggle='pill', href='#best-table-01', role='tab', aria-controls='best-table-01', aria-selected='true') Dimanche 12 nov
                        a#best-tab-02.nav-link(data-toggle='pill', href='#best-table-02', role='tab', aria-controls='best-table-02', aria-selected='false') Lundi 13 nov
                        a#best-tab-03.nav-link(data-toggle='pill', href='#best-table-03', role='tab', aria-controls='best-table-03', aria-selected='false') Mardi 14 nov
                        a#best-tab-04.nav-link(data-toggle='pill', href='#best-table-04', role='tab', aria-controls='best-table-04', aria-selected='false') Mercredi 15 nov
                        a#best-tab-05.nav-link(data-toggle='pill', href='#best-table-05', role='tab', aria-controls='best-table-05',
                        aria-selected='false') Jeudi 16 nov
                        a#best-tab-06.nav-link(data-toggle='pill', href='#best-table-06', role='tab', aria-controls='best-table-06',
                        aria-selected='false') Vendredi 17 nov
                .col-md-8.col-lg-9.p-0
                    #bests-tabContent.tab-content.pr-3
                        #best-table-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='best-tab-01')
                            include table/bests-table-01
                        #best-table-02.tab-pane.fade(role='tabpanel', aria-labelledby='best-tab-02')
                            include table/bests-table-02
                        #best-table-03.tab-pane.fade(role='tabpanel', aria-labelledby='best-tab-03')
                            include table/bests-table-03
                        #best-table-04.tab-pane.fade(role='tabpanel', aria-labelledby='best-tab-04')
                            include table/bests-table-04
                        #best-table-05.tab-pane.fade(role='tabpanel', aria-labelledby='best-tab-05')
                            include table/bests-table-05
                        #best-table-06.tab-pane.fade(role='tabpanel', aria-labelledby='best-tab-06')
                            include table/bests-table-06
    .col-sm-12.col-md-12.col-lg-4
        .bests-sidebar.bg-white
            h5.bests-title Meilleurs joueurs du tournoi des Masters de Londres
            .bests-peoples
                .bests-peoples-item
                    .bests-peoples-place 1
                    .bests-peoples-name David
                        span Goffin
                    a(href="#").bests-peoples-photo
                        img(src='assets/img/bests/bests-01.png', alt='')
                .bests-peoples-item
                    .bests-peoples-place 2
                    .bests-peoples-name Grigor
                        span dimitrov
                    a(href="#").bests-peoples-photo
                        img(src='assets/img/bests/bests-02.png', alt='')
                .bests-peoples-item
                    .bests-peoples-place 3
                    .bests-peoples-name Rafael
                        span Nadal
                    a(href="#").bests-peoples-photo
                        img(src='assets/img/bests/bests-03.png', alt='')

