.container
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='#') Home
            li.breadcrumb-item
                a(href='#') Sport
            li.breadcrumb-item
                a(href='#') Footbal
            li.breadcrumb-item.active(aria-current='page') Axel Witsel
