.container
    nav(aria-label='breadcrumb')
        ol.breadcrumb
            li.breadcrumb-item
                a(href='#') Home
            li.breadcrumb-item
                a(href='#') Link1
            li.breadcrumb-item
                a(href='#') Link2
            li.breadcrumb-item.active(aria-current='page') Sub Link2
