.col-md-12
    h5.circles-title Personnalités liées aux Masters de Londres 2017
    .circles-list
        .circles-item.circles-item-160
            h6.circles-item-title masters de londres 2017
            .circles-item-overlay
            .circles-item-img
                img(src="assets/img/circles/circle-01.jpg")
        .circles-item.circles-item-90-left-t
            h6.circles-item-title Goffin
            .circles-item-overlay
            .circles-item-img
                img(src="assets/img/circles/circle-02.jpg")
        .circles-item.circles-item-120-left
            h6.circles-item-title Dimitrov
            .circles-item-overlay
            .circles-item-img
                img(src="assets/img/circles/circle-03.jpg")
        .circles-item.circles-item-90-left-b
            h6.circles-item-title Nadal
            .circles-item-overlay
            .circles-item-img
                img(src="assets/img/circles/circle-04.jpg")
        .circles-item.circles-item-125-right
            h6.circles-item-title Nadal
            .circles-item-overlay
            .circles-item-img
                img(src="assets/img/circles/circle-05.jpg")
        .circles-item.circles-item-105-right-t
            h6.circles-item-title Dimitrov
            .circles-item-overlay
            .circles-item-img
                img(src="assets/img/circles/circle-06.jpg")
        .circles-item.circles-item-90-right-b
            h6.circles-item-title Goffin
            .circles-item-overlay
            .circles-item-img
                img(src="assets/img/circles/circle-07.jpg")
        .circles-item.circles-item-125-right-r
            h6.circles-item-title roland garros
            .circles-item-overlay
            .circles-item-img
                img(src="assets/img/circles/circle-08.jpg")
        .circles-line-lt
        .circles-line-l
        .circles-line-lb
        .circles-line-r
        .circles-line-rt
        .circles-line-rr
        .circles-line-rb
.col-md-12
    p
    | La personnalité la plus citées dans les articles relatifs aux masters de Londres est Raphael Nadal. On compte 75 articles
    | mentionnant son nom. On retrouve
    | également d'autres personnalités liées à ce sujet comme Raphaël Nadal, Raphaël Nadal et  Raphaël Nadal.
    | Ces personnalités sont également souvent mentionnées lorsqu'il est question de
    a(href="#")  Rolland Garros.
.col-md-12.d-flex.justify-content-end
    button(type='button', data-toggle='modal', data-target='#popupModal').popup-btn-add
        | Donner mon avis sur ce texte généré par un robot
        +icon('plus')

