main.main
    .container
        .row
            .col-md-12.mb-5
                include news/new-inline-01
        .row
            .col-md-12
                h5.news-title Les faits marquants des Masters de Londres 2017
            .col-md-8
                include news/new-inline-02