main.main
    .container
        .row
            .col-md-12
                .card.card-inline
                    .card-header.col-md-4
                        img.card-img-top(src='assets/img/news/new.jpg', alt='')
                        .card-tag-overlay sport
                        //.card-img-overlay
                        //    p.card-text Journée de mobilisation contre les réformes du gouvernement
                    .card-body.col-md-8
                        h3.card-title Masters de Londres 2017
                        ul.card-text-list
                            li.card-text-list-item
                                | Les masters de Londres 2017 ont mis en compétition les grands noms du tennis. Le
                                a(href='#')  classement actuel
                                |   positionnent David Goffin en tête.

                            li.card-text-list-item Rafael Nadal décide de se retirer du Masters et de mettre un terme à sa saison quelques
                                | minutes après sa défaite face à David Goffin lors de son entrée en lice. Il est remplacé par Pablo
                                | Carreño Busta.
                        .tags
                            h6.card-title Sujets à la une
                            ul.tags-list
                                li.tags-list-item
                                    a(href="#").tags-list-link XV de France
                                li.tags-list-item
                                    a(href="#").tags-list-link 6 nations
                                li.tags-list-item
                                    a(href="#").tags-list-link Classement NBA
