main.main
    .container
        .row
            .col-md-12.mb-5
                include news/new-inline-01
        .row
            .col-md-12
                h5.news-title Les faits marquants des Masters de Londres 2017
            .col-md-8
                include news/new-inline-02
                .row.mt-4
                    .col-md-6
                        include news/new-box-01
                    .col-md-6
                        include news/new-box-02
            .col-md-4
                a(href="#").right-banner
                    img.right-banner-img(src='assets/img/banners/right-banner-01.jpg', alt='')
