main.main
    .container.mb-4
        .row
            .col-md-12.mb-4
                include news/new-inline-01
        .row.mt-4
            .col-md-12.mb-3
                h5.news-title.w-60 Les faits marquants des Masters de Londres 2017
                button#showMobileFilter.btn.btn-primary(data-toggle="modal" data-target="#MobileFilter") Filtrer les articles
            .col-md-8.col-sm-12
                include news/new-inline-02
                .row
                    .col-md-6.mt-4
                        include news/new-box-01
                    .col-md-6.mt-4
                        include news/new-box-02
                    .col-md-6.mt-4
                        include news/new-box-03
                    .col-md-6.mt-4
                        include news/new-box-04
            .col-md-4
                a(href="#").right-banner
                    img.right-banner-img(src='assets/img/banners/right-banner-01.jpg', alt='')
        .row.mt-4
            .col-md-8
                .row
                    .col-md-6
                        include news/new-box-05
                    .col-md-6
                        include news/new-box-06
                    .col-md-6.mt-4
                        include news/new-box-07
                    .col-md-6.mt-4
                        include news/new-box-08
            .col-md-4
                a(href="#").right-banner
                    img.right-banner-img(src='assets/img/banners/right-banner-01.jpg', alt='')
    .container.mb-4
        .row
            include carousel/video-carousel
    .statistics.container.mb-4
        include  statistics
    .newscarousel.container.mb-4
        include  carousel/newscarousel
    .bests.container.mb-4.px-0
        include  bests
    .regions.container.mb-4.px-0
        include regions
    .circles.container.mb-5
        .row
            include circles
    .questions.container.mb-5
        .row
            include questions
    .articles.container.mb-4
        include articles
    .container.mb-4
        .row
            .col-lg-8.col-md-12
            .col-lg-4.col-md-12
                .card
                    .card-body.pb-0
                        h5.px-3 Où se passe le Mercedes Grand Prix?
                        p.card-text
                            | Brackley est une ville anglaise, située au sud du Northamptonshire, àunecentainedekilomètresau nord- ouest de Londres. Elle abrite 11OOO habitants pour une superficiede681.92 hectares.
                        p.cart-text
                            | La commune abrite le siège de l'écurie de Formule 1 PvlercedesGrand Prix. La commune possède un patrimoinedequalité: l'hôtel de ville et l'hôpital.
                    .card-footer.p-1
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.1662694375646!2d-1.1444617697404582!3d52' +
                        '.027632565017036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13' +
                        '.1!3m3!1m2!1s0x48771fe575aeacad%3A0x8709c56038bc731b' +
                        '!2zQnJhY2tsZXkgQ3JpY2tldCBDbHViIEdyb3VuZCwgQnJhY2tsZXksINCS0LXQu9C40LrQvtCx0YDQuNGC0LDQvdC40Y8!5e0!3m2!1sru!2sua' +
                        '!4v1527160968844', width='100%', height='200', frameborder='0', style='border:0', allowfullscreen='')
    .container
        .row
            .col-md-12
                .bottom-banner
                    img(src='assets/img/global/bottom-banner.png', alt='')