footer.footer
    .container
        .row
            .footer-logo
                img(src='assets/img/global/footer-logo.png', alt='')
        .row
            ul.footer-nav.mb-3
                li.footer-nav-col
                    h5.footer-nav-title Régions
                    a(href="#").footer-nav-link Liège
                    a(href="#").footer-nav-link Huy-Waremme
                    a(href="#").footer-nav-link Verviers
                    a(href="#").footer-nav-link Luxembourg
                    a(href="#").footer-nav-link Basse-Meuse
                    a(href="#").footer-nav-link Namur
                    a(href="#").footer-nav-link Bruxelles
                    a(href="#").footer-nav-link Brabant Wallon
                    a(href="#").footer-nav-link Charleroi
                    a(href="#").footer-nav-link Centre
                    a(href="#").footer-nav-link Sambre/Meuse
                    a(href="#").footer-nav-link Mons
                    a(href="#").footer-nav-link Tournai
                    a(href="#").footer-nav-link Mouscron
                li.footer-nav-col
                    h5.footer-nav-title Actualité
                    a(href="#").footer-nav-link Liège
                    a(href="#").footer-nav-link Huy-Waremme
                    a(href="#").footer-nav-link Verviers
                    a(href="#").footer-nav-link Luxembourg
                    a(href="#").footer-nav-link Basse-Meuse
                    a(href="#").footer-nav-link Namur
                    a(href="#").footer-nav-link Bruxelles
                    a(href="#").footer-nav-link Brabant Wallon
                    a(href="#").footer-nav-link Charleroi
                    a(href="#").footer-nav-link Centre
                    a(href="#").footer-nav-link Sambre/Meuse
                    a(href="#").footer-nav-link Mons
                    a(href="#").footer-nav-link Tournai
                    a(href="#").footer-nav-link Mouscron
                li.footer-nav-col
                    h5.footer-nav-title Sports
                    a(href="#").footer-nav-link Liège
                    a(href="#").footer-nav-link Huy-Waremme
                    a(href="#").footer-nav-link Verviers
                    a(href="#").footer-nav-link Luxembourg
                    a(href="#").footer-nav-link Basse-Meuse
                    a(href="#").footer-nav-link Namur
                    a(href="#").footer-nav-link Bruxelles
                    a(href="#").footer-nav-link Brabant Wallon
                    a(href="#").footer-nav-link Charleroi
                    a(href="#").footer-nav-link Centre
                    a(href="#").footer-nav-link Sambre/Meuse
                    a(href="#").footer-nav-link Mons
                    a(href="#").footer-nav-link Tournai
                    a(href="#").footer-nav-link Mouscron
                li.footer-nav-col
                    h5.footer-nav-title Résultats et
                        br
                        | classements sportifs
                    a(href="#").footer-nav-link Liège
                    a(href="#").footer-nav-link Huy-Waremme
                    a(href="#").footer-nav-link Verviers
                    a(href="#").footer-nav-link Luxembourg
                    a(href="#").footer-nav-link Basse-Meuse
                    a(href="#").footer-nav-link Namur
                    a(href="#").footer-nav-link Bruxelles
                    a(href="#").footer-nav-link Brabant Wallon
                    a(href="#").footer-nav-link Charleroi
                    a(href="#").footer-nav-link Centre
                    a(href="#").footer-nav-link Sambre/Meuse
                    a(href="#").footer-nav-link Mons
                    a(href="#").footer-nav-link Tournai
                    a(href="#").footer-nav-link Mouscron
                li.footer-nav-col
                    h5.footer-nav-title Culture
                    a(href="#").footer-nav-link Liège
                    a(href="#").footer-nav-link Huy-Waremme
                    a(href="#").footer-nav-link Verviers
                    a(href="#").footer-nav-link Luxembourg
                    a(href="#").footer-nav-link Basse-Meuse
                    a(href="#").footer-nav-link Namur
                    a(href="#").footer-nav-link.mb-2 Bruxelles
                    h5.footer-nav-title Météo
                    a(href="#").footer-nav-link Brabant Wallon
                    a(href="#").footer-nav-link Charleroi
                    a(href="#").footer-nav-link Centre
                    a(href="#").footer-nav-link Sambre/Meuse
                    a(href="#").footer-nav-link Mons
                    a(href="#").footer-nav-link Tournai
                    a(href="#").footer-nav-link Mouscron
                li.footer-nav-col
                    h5.footer-nav-title Fun
                    a(href="#").footer-nav-link Liège
                    a(href="#").footer-nav-link Huy-Waremme
                    a(href="#").footer-nav-link Verviers
                    a(href="#").footer-nav-link Luxembourg
                    a(href="#").footer-nav-link Basse-Meuse
                    a(href="#").footer-nav-link Namur
                    a(href="#").footer-nav-link Bruxelles
                    a(href="#").footer-nav-link Brabant Wallon
                    a(href="#").footer-nav-link Charleroi
                    a(href="#").footer-nav-link Centre
                    a(href="#").footer-nav-link Sambre/Meuse
                    a(href="#").footer-nav-link Mons
                    a(href="#").footer-nav-link Tournai
                    a(href="#").footer-nav-link Mouscron
                li.footer-nav-col
                    h5.footer-nav-title Services
                    a(href="#").footer-nav-link Liège
                    a(href="#").footer-nav-link Huy-Waremme
                    a(href="#").footer-nav-link Verviers
                    a(href="#").footer-nav-link Luxembourg
                    a(href="#").footer-nav-link Basse-Meuse
                    a(href="#").footer-nav-link Namur
                    a(href="#").footer-nav-link Bruxelles
                    a(href="#").footer-nav-link Brabant Wallon
                    a(href="#").footer-nav-link Charleroi
                    a(href="#").footer-nav-link Centre
                    a(href="#").footer-nav-link Sambre/Meuse
                    a(href="#").footer-nav-link Mons
                    a(href="#").footer-nav-link Tournai
                    a(href="#").footer-nav-link Mouscron
                li.footer-nav-col
                    h5.footer-nav-title Services
                    a(href="#").footer-nav-link Liège
                    a(href="#").footer-nav-link Huy-Waremme
                    a(href="#").footer-nav-link Verviers
                    a(href="#").footer-nav-link Luxembourg
                    a(href="#").footer-nav-link Basse-Meuse
                    a(href="#").footer-nav-link Namur
                    a(href="#").footer-nav-link Bruxelles
                    a(href="#").footer-nav-link Brabant Wallon
                    a(href="#").footer-nav-link Charleroi
                    a(href="#").footer-nav-link Centre
                    a(href="#").footer-nav-link Sambre/Meuse
                    a(href="#").footer-nav-link Mons
                    a(href="#").footer-nav-link Tournai
                    a(href="#").footer-nav-link Mouscron
        .row
            .footer-terms
                a(href="#") Conditions générales de vente
                |  |
                a(href="#")  Informations légales.
                |  Service clientèle :
                a(href="#")  abonnements@sudpresse.be
                |  ou 078/15.75.75 du
                | lundi au vendredi de 8h à 18h et le samedi de 8h à 12h. Ce
                | site est protégé par le droit d'auteur, tous droits réservés. Toute reproduction et/ou rediffusion de contenu par
                | quelque moyen que ce soit doit faire l'objet d'une autorisation spécifique
                | auprès de Copiepresse au 02/558.97.80 ou via
                a(href="#")  info@copiepresse.be.
                |  Sont toutefois autorisés la reproduction des contenus
                | de fils RSS ou Widget,aux conditions fixées RSS/Widgets,
                | ou un lien vers la page d'accueil. Plus d'infos:
                a(href="#")  www.copiepresse.be.|
