table.table.table-hover.table-news.mb-3
    thead
        tr
            th Champoinat
            th matchs
            th buts
            th p.dec
            th
                .medal.bg-orange
            th
                .medal.bg-red
    tbody
        tr
            td
                h4.mb-0 Seria A TIM
                p.mb-0 2017-2018
            td 31
            td 6
            td 3
            td 3
            td 0
        tr
            td
                h4.mb-0 Seria A TIM
                p.mb-0 2017-2018
            td 4
            td 0
            td -
            td 0
            td 0

    tfooter



