header.header
    .container
        .row.header-top
            .col-md-4
                a(href='/').header-logo
                    img(src='assets/img/global/logo.png', alt='')
            .col-md-8
                .header-banner
                    img.header-banner-img(src='assets/img/banners/banner.jpg', alt='')


        .row.header-bottom
            .col-md-12
                nav.navbar.navbar-expand-lg.bg-light
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navMenu',
                    aria-controls='navMenu', aria-expanded='false', aria-label='Toggle navigation')
                        +icon('menu')
                    #navMenu.collapse.navbar-collapse
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link(data-toggle="collapse", href="#submenu-01") Politique
                                    +icon('down')
                                +subMenu('submenu-01')
                            li.nav-item
                                a.nav-link(data-toggle="collapse", href="#submenu-02") Economie
                                    +icon('down')
                                +subMenu('submenu-02')
                            li.nav-item
                                a.nav-link(data-toggle="collapse", href="#submenu-03") Culture
                                    +icon('down')
                                +subMenu('submenu-03')
                            li.nav-item
                                a.nav-link(data-toggle="collapse", href="#submenu-04") Société
                                    +icon('down')
                                +subMenu('submenu-04')
                            li.nav-item
                                a.nav-link(href='#') Sport
                                    +icon('down')
                            li.nav-item
                                a.nav-link(href='#') Environnement
                                    +icon('down')
                        .header-search
                            a.btn(data-toggle="collapse" href="#header-search-form" role="button" aria-expanded="false" aria-controls="header-search-form")
                                +icon('search')
                            form#header-search-form.form-inline.collapse(action="#")
                                input.form-control(type='search', placeholder='Search', aria-label='Search')
                                button.btn(type='submit')
                                    +icon('search')
                    a(href='/').header-logo-mobile
                            img(src='assets/img/global/logo.png', alt='')
                    .header-search-mobile
                        a.btn(data-toggle="collapse" href="#header-search-form-mob" role="button" aria-expanded="false"
                        aria-controls="header-search-form-mob")
                            +icon('search')
                            +icon('cancel')
                        form#header-search-form-mob.form-inline.collapse(action="#")
                            input.form-control(type='search', placeholder='Search', aria-label='Search')
                            button.btn(type='submit')
                                +icon('search')
.filter
    .container
        ul#filterTab.filter-nav.nav.nav-tabs(role='tablist')
            li.nav-item
                a#filter-tab.nav-link(data-toggle='tab', href='#filter', role='tab', aria-controls='filter', aria-selected='true')
                    | Filters
            li.nav-item
                a#calendar-tab.nav-link(data-toggle='tab', href='#calendar', role='tab', aria-controls='filter',
                aria-selected='true')
                    | Date
            li.nav-item
                a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false')
                    | Abonnez vous
        #filterTabContent.tab-content
            #filter.tab-pane.fade.show(role='tabpanel', aria-labelledby='filter-tab')
                .col-md-3
                    h5.filter-title personnalitées
                    .tags
                        ul.tags-list
                            li.tags-list-item
                                a(href="#").tags-list-link David Goffin
                            li.tags-list-item
                                a(href="#").tags-list-link David Goffin
                            li.tags-list-item
                                a(href="#").tags-list-link David Goffin
                            li.tags-list-item
                                a(href="#").tags-list-link David Goffin
                            li.tags-list-item
                                a(href="#").tags-list-link David Goffin
                            li.tags-list-item
                                a(href="#").tags-list-link David Goffin
                .col-md-3
                    h5.filter-title Lieux
                    ul.fitler-check-list
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Tribunals
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Rues
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Stades de sport
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Locaux commerciaux
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Bureaux
                .col-md-3
                    h5.filter-title Lieux
                    ul.fitler-check-list
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Tribunals
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Rues
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Stades de sport
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Locaux commerciaux
                        li.pretty.p-default.p-round.p-smooth
                            input(type='checkbox')
                            .state.p-primary
                                label Bureaux

            #calendar.tab-pane.fade(role='tabpanel', aria-labelledby='calendar-tab')
                .form-group
                    .row
                        .col-md-8
                            #datetimepicker8
            #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') 3



