#MobileFilter.popupModal.modal.fade(tabindex='-1', aria-labelledby='popupModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.fa.fa-arrow-left
                    span Fiiltrer les articles
                button#filter-submit.btn.btn-primary(type="submit") Valider
            .modal-body
                .filter-mobile(action="#")
                    #accordion.filter-accordion
                        .card
                            .card-header
                                h5.mb-0 Personnalités
                                .card-body
                                    .tags
                                        ul.tags-list
                                            li.tags-list-item
                                                a(href="#").tags-list-link David Goffin
                                            li.tags-list-item
                                                a(href="#").tags-list-link David Goffin
                                            li.tags-list-item
                                                a(href="#").tags-list-link David Goffin
                                            li.tags-list-item
                                                a(href="#").tags-list-link David Goffin
                                            li.tags-list-item
                                                a(href="#").tags-list-link David Goffin
                                            li.tags-list-item
                                                a(href="#").tags-list-link David Goffin

                        .card
                            #headingThree.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#lieux', aria-expanded='false', aria-controls='lieux')
                                        | Lieux
                                        i.fa.fa-angle-right
                            #lieux.collapse(aria-labelledby='headingThree', data-parent='#accordion')
                                .card-body
                                    ul.fitler-check-list
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Tribunals
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Rues
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Stades de sport
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Locaux commerciaux
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Bureaux

                        .card
                            #Date.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#Enterprise', aria-expanded='false', aria-controls='Enterprise')
                                        | Enterprise
                                        i.fa.fa-angle-right
                            #Enterprise.collapse(aria-labelledby='Date', data-parent='#accordion')
                                .card-body
                                    ul.fitler-check-list
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Tribunals
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Rues
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Stades de sport
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Locaux commerciaux
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Bureaux
                        .card
                            #headingFormat.card-header
                                h5.mb-0
                                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#Format', aria-expanded='false', aria-controls='Format')
                                        | Format
                                        i.fa.fa-angle-right
                            #Format.collapse(aria-labelledby='Format', data-parent='#accordion')
                                .card-body
                                    ul.fitler-check-list
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Tribunals
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Rues
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Stades de sport
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Locaux commerciaux
                                        li.pretty.p-default.p-round.p-smooth
                                            input(type='checkbox')
                                            .state.p-primary
                                                label Bureaux
                        .card
                            .card-header
                                h5.mb-0 Date
                            .card-body
                                .calendar
                                    .calendar-box#datetimepicker1

            .modal-footer
                button#filter-submit.btn.btn-primary(type="submit") Valider
