#popupModal.popupModal.modal.fade(tabindex='-1', aria-labelledby='popupModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                p
                    | Le texte contient des informations provennant de wikipedia et de nos propres articles. Le contenu a
                    | été généré automatique par un moteur d’IA. Par conséquent, il n’est pas le reflet de l’opinion des
                    | journalistes de Sudinfo et pourrait contenir des erreurs. Il n’engage ni la responsabilité ni
                    | l’engagement de Sudinfo.
                h5 Avez vous un commentaire au sujet de ce texte?
                form
                    .form-group
                        input#recipient-mail.form-control(type='mail' placeholder='Votre email')
                    .form-group
                        textarea#message-text.form-control(, placeholder="Votre message ici")
            .modal-footer
                button.btn.btn-primary.send-form(type='button') Envoyez
