.col-md-6.col-sm-12.border-right
    .questions_block.pl-5
        h5 Question à la une
        .questions_quest
            p Federer n'avait pas remporté son titre à Roland-Garros en 2009,
                |  Nadal serait-il considéré comme le plus grand de tous les temps ?
        .questions_ans
            p Depuis Monte-Carlo 2005 jusqu’à la fin de 2010, Rafael Nadal acompiléleplusgrand record detouslestempssurterre battue, y compris une série de 81 victoires en matchs, 4 des B titres à Roland-Garros, 13 des 16 titres Masters 1000 et un record de 137-4
            p Ça fait 4 pertes en 5 anset demi. Et seulement troisjoueurs ont pu battre Nadal.
            p Federer l'a fait deuxfoiset a eu despointsdematch en cinquièmemanchedelafinaledeRomeen 2006. Les seuls autresjoueursétaient Juan CarlosFerrero et Robin Soderling.
        a.questions_plus(href="#") Lire plus
    hr.d-md-none.d-sm-block
.col-md-6.col-sm-12.border-left
    .questions_block.pl-3
        h5 Meilleurs joueurs du tournoi des Masters de Londres
        a.questions_item(href="#") Dansletennis, pourquoi lesgrandssiams n'introduisent-ilspaslemeilleur descinq sets pour les femmes
            | aussi ?
        a.questions_item(href="#") Pourquoi pense-t-on que Federer est meilleur que Djokovic sur terre battue alorsque leSerbe agagné plusdetournoisdeterrebattue(9>7)et battu Nadal sur terre battue plussouvent (7>2) ?
        a.questions_item(href="#") Tennis: Quelle est laseulechosequevouspensezque Federer peutfaireou afait queNadal nepeut jamais faire et que Nadal nepeut pasfairemaisque Federer nepeut pas faire?