.col-md-8
    h5 Questions les plus posées sur Axel Witsel
    .questions-inline-list
        a(href="#").questions-inline-item
            p Qui est le meilleur joueur de  Handball de tous les temps ?
        a(href="#").questions-inline-item
            p Quelle équipe remportera la  Coupe du Monde de la FIFA  2018 ?
        a(href="#").questions-inline-item
            p L'Inde peut-elle se qualifier  pour la Coupe du Monde de la  FIFA ?