.row
    .col-md-8
        .regions-main.bg-white.p-3
            h5.regions-title Personnalités liées aux Masters de Londres 2017
            .row
                .col-md-6
                    .regions-map
                        img(src='assets/img/global/map.jpg', alt='')
                .col-md-6
                    .regions-chart
                        .regions-chart-item
                            .progress
                                .progress-bar.chart-1(role='progressbar', style='width: 100%', aria-valuenow='6250', aria-valuemin='0',
                                aria-valuemax='6250')
                            span.regions-chart-text 6250 recherces par mois
                        .regions-chart-item
                            .progress
                                .progress-bar.chart-2(role='progressbar', style='width: 75%', aria-valuenow='5100', aria-valuemin='0',
                                aria-valuemax='6250')
                            span.regions-chart-text 5100 recherces par mois
                        .regions-chart-item
                            .progress
                                .progress-bar.chart-3(role='progressbar', style='width: 50%', aria-valuenow='3950', aria-valuemin='0',
                                aria-valuemax='6250')
                            span.regions-chart-text 3950 recherces par mois
                        .regions-chart-item
                            .progress
                                .progress-bar.chart-4(role='progressbar', style='width: 85%', aria-valuenow='5500', aria-valuemin='0',
                            aria-valuemax='6250')
                            span.regions-chart-text 5500 recherces par mois
                    p
                        | Les régions d'Ile de France et Rhône Alpes présentent
                        | un interêt plus marqué pour ce sujet concernant le
                        | tennis. Tandis que les habitants de la Normandie
                        | semblent moins actifs.
            .row
                .col-md-12
                    a(href="#").popup-btn-add
                        | Donner mon avis sur ce texte généré par un robot
                        +icon('plus')

    .col-md-4
        include widget/widget-twitter

