h5 Intérêt pour le sujet
p
    | Nous avons détecté que les masters de Londres 2017 était un sujet suscitant beaucoup d'interêt par les lecteurs du journal. En se basant sur le nombre de tweets,  le
    | nombre de recherche Google ainsi que le nombre de lectures sur le sujet, les masters de Londres 2017 est le 8ème sujet de la semaine dans la rubrique sport derrière
    a(href='#')  la ligue des champions
    |  et
    a(href='#')  le championnat de ligue 1
    | . Retrouvez les autres sujets brûlants dans nos
    a(href='#')  articles populaires en Sport.
.row
    .col-md-3
        .card.text-center
            img.statistics-img.rounded(src='assets/img/stats/stats-01.png', alt='')
            .card-body
                p.card-text
                    | vues d'articles ayant pour sujet les masters de Londres 2017

    .col-md-3
        .card.text-center
            img.statistics-img(src='assets/img/stats/stats-02.png', alt='')
            .card-body
                p.card-text
                    | 12 000 recherches sont effectuées par jour sur
                    | Google depuis la semaine passé. Le nombre de
                    | recherche a augmenté de 105% depuis le 1
                    | novembre 2017%

    .col-md-3
        .card.text-center
            img.statistics-img.rounded(src='assets/img/stats/stats-03.png', alt='')
            .card-body
                p.card-text
                    | 458 tweets sur les masters de
                    | Londres cette semaine
    .col-md-3
        .card.text-center
            img.statistics-img.rounded(src='assets/img/stats/stats-04.png', alt='')
            .card-body
                p.card-text
                    | vous êtes le 47ème visiteurs
                    | de la page aujourd'hui
.row
    .col-md-12
        a(href="#").statistics-btn-add
            | Donner mon avis sur ce texte généré par un robot
            +icon('plus')
