.widget-social
    .widget-social__header
        .widget-social__profile
            .widget-social__profile-img
                i.fa.fa-user
                img(src='assets/img/global/ava.jpg', alt='')
            a(href="#").widget-social__user
                .widget-social__user-name Kristof Tereur
                    .widget-social__user-label
                        i.fa.fa-newspaper-o
                    .widget-social__user-label
                        i.fa.fa-check-circle
                .widget-social__user-link HLNinEngeland
        .widget-social__label.bg-primary
            i.fa.fa-twitter
    .widget-social__body
        p
            |   Y a un très beau programme de Sport en
            |   perspective ce weekend. Le foot vendredi soir, le
            |   rugby samedi soir, le master de londres qui
            |   commence dimanche, les qualification pour la
            |   russie qui commencent ce soir.
    .widget-social__footer
        .widget-social__footer-nav
            a(href="#")
                i.fa.fa-comment-o
                span 0
            a(href="#")
                i.fa.fa-retweet
                span 0
            a(href="#")
                i.fa.fa-heart-o
                span 0
        .widget-social__footer-nav.justify-content-end
            a(href="#" data-toggle="tooltip" title="Some tooltip text!")
                i.fa.fa-info-circle
