//
// Color system
//
$blue: #2eaadd;
$blue-light: #a1e3ff;
$blue-dark: #173b4a;
$indigo:  #6610f2;
$pink:    #ff4d5e;
$purple: #a56478;
$red:     #e7422b;
$orange:  #fd7e14;
$yellow: #f5aa69;
$green: #a1b868;
$teal: #16a085;
$cyan:    #17a2b8;
$gray: #8d8c8c;
$dark: #343434;

$bg-gray: #efefef;

$error: #dd0000 ;
$success: #008f00;
$white: #fff;
$gray-50: #f5f5f6;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #45454a;
$gray-700: #495057;
$gray-800: $dark;
$gray-middle: #EEEEEE;
$black: #000;


$footer-link-color: #858590;
$footer-subtitle-color: #4e4e5d;


$colors: () ;
$colors: map-merge((
        "blue":       $blue,
        "info":       $blue-light,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "danger":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-600,
        "gray-dark":  $gray-800
), $colors);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $primary;
$light:         $gray-100;
$dark:          $gray-800;
$rosewood:      $purple;


$theme-colors: ();
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
        "rosewood":   $rosewood,
        "teal":       $teal
), $theme-colors);

.blue        {color:$blue;}
.indigo      {color:$indigo;}
.purple      {color:$purple;}
.pink        {color:$pink;}
.red         {color:$red;}
.orange      {color:$orange;}
.yellow      {color:$yellow;}
.green       {color:$green;}
.teal        {color:$teal;}
.cyan        {color:$cyan;}
.white       {color:$white;}
.gray        {color:$gray-600;}
.gray-dark   {color:$gray-800;}
.black   {color:$black;}

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
        10: 10%,
        20: 20%,
        25: 25%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        75: 75%,
        80: 80%,
        90: 90%,
        100: 100%
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $bg-gray;
$body-color:                $dark ;


// Links
//
// Style anchor elements.

//$link-color:                $blue;
$link-decoration:           none;
//$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-base: 'Roboto';
//$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base:              1rem;
$font-size-lg:                ($font-size-base * 1.25);
$font-size-sm:                ($font-size-base * .875);

$fa-font-path: "../fonts/FontAwesome";
$slick-font-path: "./fonts/slick";
$slick-loader-path: "../fonts/slick/";

//button global styles
//$btn-border-radius:           2rem;

$btn-transition: all .15s ease-in-out;
// Forms

$input-placeholder-color: #9999a1;
//Titles

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
);


$sidebar-w: 400px;
$sidebar-sm-w: 80%;
$sidebar-wrapper-w: 50%;
$sidebar-xs-w: 80%;


//======================================
//  Z-INDEX
//======================================
//z-index
@function z($name) {
  @if index($z-indexes, $name) {
   @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
   @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
   @return null;
  }
}
$z-indexes: (
  "outdated-browser",
  "modal",
  "site-header",
  "page-wrapper",
  "site-footer"
);
// Navbar

//$navbar-padding-y:                  ($spacer / 2) !default;
//$navbar-padding-x:                  $spacer !default;

$navbar-nav-link-padding-x:         .5rem;

$navbar-brand-font-size:            2rem;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$navbar-brand-height:               2rem;

