.icon {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	&-lamp{@include icon('lamp', 28px, 28px);  }
	&-save{@include icon('save', 28px, 28px);  }
	&-list{@include icon('list', 28px, 28px);  }
	&-Tt{@include icon('Tt', 23px, 26px);  }
	&-i{@include icon('i', 26px, 26px);  }
	&-arrow-l{@include icon('arrow-l', 10px, 15px);  }
	&-T{@include icon('T', 20px, 22px);  }
	&-t-it{@include icon('t-it', 9px, 16px);  }
	&-T-udrl{@include icon('T-udrl', 20px, 20px);  }
	&-clip{@include icon('clip', 18px, 20px);  }
	&-m-list{@include icon('m-list', 22px, 22px);  }
	&-shelude{@include icon('shelude', 22px, 22px);  }
}
.icon-cancel {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-down-arrow {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-fb {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-filter {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-in {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-next {
	font-size:(40.7/10)*1rem;
	width:(22.1/40.7)*1em;
}
.icon-pin {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-prev {
	font-size:(40.7/10)*1rem;
	width:(22.1/40.7)*1em;
}
.icon-search {
	font-size:(512/10)*1rem;
	display: flex;
	width: 20px;
	height: 20px;
	fill: $red;
}

.icon-tw {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-fb-color{
	fill: #4460a0;
}
.icon-tw-color{
	fill: #00aaec;
}
.icon-pin-color{
	fill: #cc2128;
}
.icon-in-color {
	fill:#285AEB;
}




