.card.card-inline
    a(href="#").card-header.flex-column.col-md-6
        h4.card-title.show-sm Axel Witsel
        img.card-img-top(src='assets/img/news/axel-footbal.jpg', alt='')
    .card-body.col-md-6.pb-0
        h3.card-title.hide-sm
            a(href="#") Axel Witsel
        p.card-text.mb-1 Axel Witsel est un footballeur international belge, né le 12 janvier 1989 à Liège en Belgique. ... Il est
            | rapidement considéré comme un grand espoir du football belge. Il possède un style léger et fluide, avec un .... Axel Witsel
            | reconnaît sa faute, mais nie avoir voulu blesser le joueur adverse. Witsel reçoit un carton rouge pour ..
        include ../footbal-statistic
