.card
    a(href="#").card-header
        img.card-img-top(src='assets/img/news/new-box-04.jpg', alt='')
        .card-tag-overlay sport
    .card-body
        h5.card-title
            a(href="#")  Masters de Londres DIRECT : Cilic - Federer en live
        ul.card-text-list
            li.card-text-list-item
                | Grigor Dimitrov remporte son premier match des
                b  master de Londres
            li.card-text-list-item
                b  L’Autrichien Dominic
                |  Thiem est battu en trois sets
            li.card-text-list-item
                | La prochaine rencontre de Grigor Dimitrov sera contre
                b  Rafael Nadal
    .card-footer
        a.read-more(href="#") Lire plus
        small.text-muted
            .date nov. 05,
            | by
            a(href="#").author Jean Monet

